.btn {
    background-color: #eef7ff;
    padding: 2rem 4rem;
}

@media  (max-width: 1108px) {
    .btn{
        padding: 1rem 12px;
    }
}


@media screen and (max-width: 580px) {
    .btn {
        display: none;
    }
}