.main {
    display: grid;
    grid-template-columns: 40% auto;
    height: 100vh;

    .form {
        background-color: white;
        padding: 0 4rem;
        display: flex;
        flex-direction: column;
    }

    .background {
        background-image: url("../../../../../public/bg/registration.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}