@import '../../variables.scss';

.main {
    background-color: #eef7ff;
    height: 100dvh;
    width: 100%;

    .main_row {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .forms {
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: normal;
            margin-top: 30px;

            p {
                font-size: 1.05rem;
                margin-left: 5px;
            }

            .space {
                div {
                    width: 100%;
                }
            }

            .checkbox {
                margin-top: 25px;
                font-size: 1.05rem;
            }

            .btn {
                align-self: center;
                width: 100%;

                .button {
                    width: 100%;
                }
            }

        }
    }

}

@media screen and (max-width: 620px) {
    .main {
        background-color: #eef7ff;
        height: 100vh;
        width: 100%;

        .main_row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .forms {
                width: 70%;
                display: flex;
                flex-direction: column;
                align-items: normal;

                p {
                    font-size: 1.05rem;
                    margin-left: 5px;
                }

                .space {
                    display: flex;
                    flex-direction: column;

                    div {
                        width: 100%;
                    }
                }

                .checkbox {
                    margin-top: 25px;
                    font-size: 1.05rem;
                }

                .btn {
                    align-self: center;
                    width: 100%;

                    .button {
                        width: 100%;
                    }
                }

            }
        }

    }
}
@media screen and (max-width: 580px) {
    .main {
        background-color: #eef7ff;
        height: max-content;
        width: 100%;
        padding: 2rem 0;

        .main_row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .forms {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: normal;

                p {
                    font-size: 1.05rem;
                    margin-left: 5px;
                }

                .space {
                    display: flex;
                    flex-direction: column;

                    div {
                        width: 100%;
                    }
                }

                .langSpace{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                }

                .checkbox {
                    margin-top: 25px;
                    font-size: 1.05rem;
                }

                .btn {
                    align-self: center;
                    width: 100%;

                    .button {
                        width: 100%;
                    }
                }

            }
        }

    }
}

@media screen and (max-width: 425px) {
    .main {
        background-color: #eef7ff;
        height: 100vh;
        width: 100%;

        .main_row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .forms {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: normal;

                p {
                    font-size: 1.05rem;
                    margin-left: 5px;
                }

                .space {
                    display: flex;
                    flex-direction: column;

                    div {
                        width: 100%;
                    }
                }

                .langSpace{
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    .langSpaceBlock{
                        // display: flex;
                        // flex-direction: column;

                    }
                }

                .checkbox {
                    margin-top: 25px;
                    font-size: 1.05rem;
                }

                .btn {
                    align-self: center;
                    width: 100%;

                    .button {
                        width: 100%;
                    }
                }

            }
        }

    }
}