@import '../../../app/variables.scss';

.main {
    background-color: #eef7ff;
    height: 100vh;
    width: 100%;

    .header {

        background-color: $bg-color;

        .header_container {
            max-width: 1100px;
            width: 100%;
            margin: auto;
            padding: 0 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .main_row {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-top: 2rem;

        .workTypesBlock {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .author {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .workTypes {
                background-color: $bg-color;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: center;
                border-radius: $border-radius - 4px;
                padding: 2rem;

                .title {
                    color: white;
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                .cards {
                    display: grid;
                    grid-template-columns: 200px 200px 200px 200px;
                    row-gap: 20px;
                    column-gap: 20px;

                    .card {
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 10px;
                        padding: 15px;

                        p {
                            width: 100%;
                            text-align: center;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 930px) {
    .main {
        background-color: #eef7ff;
        height: 100vh;
        width: 100%;

        .main_row {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .workTypesBlock {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .author {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .workTypes {
                    background-color: $bg-color;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    align-items: center;
                    border-radius: $border-radius - 4px;
                    padding: 2rem;

                    .title {
                        color: white;
                        font-size: 1.3rem;
                        font-weight: 500;
                    }

                    .cards {
                        display: grid;
                        grid-template-columns: 200px 200px;
                        row-gap: 20px;
                        column-gap: 20px;

                        .card {
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-radius: 10px;
                            padding: 15px;

                            p {
                                width: 100%;
                                text-align: center;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .main {
        background-color: #eef7ff;
        height: max-content;
        width: 100%;

        .main_row {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .workTypesBlock {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .author {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .workTypes {
                    background-color: $bg-color;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    align-items: center;
                    border-radius: $border-radius - 4px;
                    padding: 2rem;

                    .title {
                        color: white;
                        font-size: 1.3rem;
                        font-weight: 500;
                    }

                    .cards {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        row-gap: 20px;
                        column-gap: 20px;

                        .card {
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-radius: 10px;
                            padding: 15px;
                            width: 100%;

                            p {
                                width: 100%;
                                text-align: center;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .main {
        background-color: #eef7ff;
        height: max-content;
        width: 100%;

        .main_row {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .lang {
                    display: none;
                }
            }

            .workTypesBlock {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .author {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .workTypes {
                    background-color: $bg-color;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    align-items: center;
                    border-radius: $border-radius - 4px;
                    padding: 2rem;

                    .title {
                        color: white;
                        font-size: 1.3rem;
                        font-weight: 500;
                    }

                    .cards {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        row-gap: 20px;
                        column-gap: 20px;

                        .card {
                            background-color: white;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-radius: 10px;
                            padding: 15px;
                            width: 100%;

                            p {
                                width: 100%;
                                text-align: center;
                                color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}