.main {
    .main_row {
        padding: 2rem 0;
        .info {
            h1 {
                text-align: center;
                color: #cc0000;
                margin-bottom: 40px;
            }
            ul {
                list-style-type: none;
                padding: 0;
            }
            ul li {
                padding: 5px 0 5px 30px;
                list-style: inside;
            }
            .important {
                color: #cc0000;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .recommendations {
                margin-top: 20px;
            }
            .recommendations p:first-child {
                margin-bottom: 10px;
                font-weight: 600;
            }
            .footer {
                text-align: center;
                margin-top: 30px;
                font-size: 1.2rem;
            }
        }
    }
}
