@import "../../../app/variables.scss";

.main {
    background-color: #F1F7FF;
    height: 100%;
    padding: 3rem 0;

    .main_row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        .title {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .cards {
            display: flex;
            align-items: center;
            gap: 40px;

            .left {
                display: flex;
                flex-direction: column;
                gap: 40px;

                .card {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 1rem;
                    height: max-content;
                    border-width: 2px;
                    border-style: solid;
                    border-radius: $border-radius + 10px;

                    .head {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        .number{
                            font-size: 1.4rem;
                            font-weight: 500;
                            padding: 5px 10px;
                            border-radius: $border-radius - 3px;
                            color: white;
                        }
                        .title{
                            font-weight: 600;
                        }
                    }

                    &:first-child {
                        border-color: $bg-color;
                        .number{
                            background-color: $bg-color;
                        }
                    }

                    &:last-child {
                        border-color: #52C41A;
                        .number{
                            background-color: #52C41A;
                        }
                    }
                }
            }

            .middle {
                .middleblock{
                    position: relative;
                    
                    .img{
                        pointer-events: none;
                    }
                    .one{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 130px;
                        p{
                            text-align: center;
                        }
                        & p:first-child{
                            background-color: #FF4D4F;
                            border-radius: 50%;
                            height: 40px;
                            width: 40px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            color: white;
                            font-size: 1.4rem;
                        }
                        &:last-child{
                            font-weight: 600;
                        }
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                gap: 40px;

                .card {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 1rem;
                    height: max-content;
                    border-width: 2px;
                    border-style: solid;
                    border-radius: $border-radius + 10px;

                    .head {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        .number{
                            font-size: 1.4rem;
                            font-weight: 500;
                            padding: 5px 10px;
                            border-radius: $border-radius - 3px;
                            color: white;
                        }
                        .title{
                            font-weight: 600;
                        }
                    }

                    &:first-child {
                        border-color: #FAAD14;
                        .number{
                            background-color: #FAAD14;
                        }
                    }

                    &:last-child {
                        border-color: #13C2C2;
                        .number{
                            background-color: #13C2C2;
                        }
                    }

                }
            }
        }

    }
}

@media screen and (max-width: 900px) {
    .main {
        background-color: #F1F7FF;
        height: 100%;
        padding: 3rem 0;
    
        .main_row {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 80px;
    
            .title {
                display: flex;
                align-items: center;
                gap: 20px;
            }
    
            .cards {
                display: flex;
                align-items: center;
                gap: 30px;
                flex-direction: column;
    
                .left {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    .card {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 1rem;
                        height: max-content;
                        border-width: 2px;
                        border-style: solid;
                        border-radius: $border-radius + 10px;
    
                        .head {
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            .number{
                                font-size: 1.4rem;
                                font-weight: 500;
                                padding: 5px 10px;
                                border-radius: $border-radius - 3px;
                                color: white;
                            }
                            .title{
                                font-weight: 600;
                            }
                        }
    
                        &:first-child {
                            border-color: $bg-color;
                            .number{
                                background-color: $bg-color;
                            }
                        }
    
                        &:last-child {
                            border-color: #52C41A;
                            .number{
                                background-color: #52C41A;
                            }
                        }
                    }
                }
    
                .middle {
                    order: -1;
                    width: 100%;
                    .middleblock{
                        position: relative;
                    
                        .img{
                            display: none;
                            pointer-events: none;
                        }
                        .one{
                            position: static;
                            top: 0;
                            left: 0;
                            transform: translate(0%, 0%);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100%;   
                            p{
                                text-align: center;
                            }
                            & p:first-child{
                                background-color: #FF4D4F;
                                border-radius: 50%;
                                height: 40px;
                                width: 40px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                color: white;
                                font-size: 1.4rem;
                            }
                            &:last-child{
                                font-weight: 600;
                            }
                        }
                    }
                }
    
                .right {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    .card {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 1rem;
                        height: max-content;
                        border-width: 2px;
                        border-style: solid;
                        border-radius: $border-radius + 10px;
    
                        .head {
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            .number{
                                font-size: 1.4rem;
                                font-weight: 500;
                                padding: 5px 10px;
                                border-radius: $border-radius - 3px;
                                color: white;
                            }
                            .title{
                                font-weight: 600;
                            }
                        }
    
                        &:first-child {
                            border-color: #FAAD14;
                            .number{
                                background-color: #FAAD14;
                            }
                        }
    
                        &:last-child {
                            border-color: #13C2C2;
                            .number{
                                background-color: #13C2C2;
                            }
                        }
    
                    }
                }
            }
    
        }
    }
}

// Mobile L
@media screen and (max-width: 425px) {
    .main {
        background-color: #F1F7FF;
        height: 100%;
        padding: 3rem 0;
    
        .main_row {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
    
            .title {
                display: flex;
                align-items: center;
                gap: 20px;
                .img{
                    display: none;
                }
            }
    
            .cards {
                display: flex;
                align-items: center;
                gap: 13px;
                flex-direction: column;
    
                .left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    width: 100%;
    
                    .card {
                        display: flex;
                        justify-content: flex-start;
                        gap: 10px;
                        padding: 0;
                        height: max-content;
                        border-width: 2px;
                        border-style: solid;
    
                        .head {
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            .number{
                                font-size: 1.4rem;
                                font-weight: 500;
                                border-radius: $border-radius - 3px;
                                color: white;
                            }
                            .title{
                                font-weight: 600;
                                font-size: 1rem;
                            }
                        }

                        .content{
                            display: none;
                        }
    
                        &:first-child {
                            border-color: transparent;
                            .number{
                                background-color: $bg-color;
                            }
                        }
    
                        &:last-child {
                            border-color: transparent;
                            .number{
                                background-color: #52C41A;
                            }
                        }
                    }
                }
    
                .middle {
                    order: -1;
                    width: 100%;
                    .middleblock{
                        position: relative;
                        .img{
                            display: none;
                            pointer-events: none;
                        }
                        .one{
                            position: static;
                            top: 0;
                            left: 0;
                            transform: translate(0%, 0%);
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 15px;
                            width: 100%;   
                            p{
                                text-align: center;
                            }
                            & p:first-child{
                                background-color: #FF4D4F;
                                border-radius: $border-radius;
                                height: 40px;
                                width: 35px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                color: white;
                                font-size: 1.4rem;
                            }
                            &:last-child{
                                font-weight: 600;
                            }
                        }
                    }
                }
    
                .right {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 10px;
                    width: 100%;
    
                    .card {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        padding: 0;
                        .head {
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            .number{
                                font-size: 1.4rem;
                                font-weight: 500;
                                padding: 5px 10px;
                                border-radius: $border-radius - 3px;
                                color: white;
                            }
                            .title{
                                font-weight: 600;
                                font-size: 1rem;
                            }
                        }

                        .content{
                            display: none;
                        }
    
                        &:first-child {
                            border-color: transparent;
                            .number{
                                background-color: #FAAD14;
                            }
                        }
    
                        &:last-child {
                            border-color: transparent;
                            .number{
                                background-color: #13C2C2;
                            }
                        }
    
                    }
                }
            }
    
        }
    }
}