@import "../../../../app/variables.scss";

.main {
    display: grid;
    grid-template-columns: 40% auto;
    height: 100vh;
    .form {
        display: flex;
        padding: 0 4rem;
        flex-direction: column;
        // align-items: center;
        justify-content: center;

        .title {
            font-size: 2rem;
            font-weight: 500;
            color: $bg-color;
            text-align: start;
        }
        .subtitle{
            font-size: 17px;
            margin-top: 10px;
            line-height: 1.4;
        }
    }

    .background {
        background-image: url("../../../../../public/bg/registration.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}

@media (max-width: 1024px) {
    .main {
        display: grid;
        grid-template-columns: 50% auto;
        height: 100vh;

        .form {
            background-color: white;
            padding: 2rem 6rem;
            display: flex;
            gap: 30px;
            flex-direction: column;
            align-items: normal;
            overflow: auto;

            .logo {
                display: flex;
                align-items: center;

                p {
                    font-size: 1.6rem;
                }
            }

            .title {
                font-size: 1.6rem;
                font-weight: 600;
                color: $bg-color;
                text-align: center;
            }

            .forms {
                display: flex;
                flex-direction: column;

                div {
                    p {
                        font-size: 1rem;
                        margin-bottom: 5px;
                        margin-left: 5px;
                    }
                }

                .btn {
                    width: 100%;
                    font-weight: 600;
                }
            }

            .devider {
                color: $bg-color;
            }

            .googleBtn {
                font-weight: 600;
            }
        }

        .background {
            background-image: url("../../../../../public/bg/registration.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }
    }
}

@media (max-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: 100% 0;
        height: 100vh;

        .form {
            background-color: white;
            padding: 2rem 6rem;
            display: flex;
            gap: 30px;
            flex-direction: column;
            align-items: normal;
            overflow: auto;

            .logo {
                display: flex;
                align-items: center;

                p {
                    font-size: 1.6rem;
                }
            }

            .title {
                font-size: 1.6rem;
                font-weight: 600;
                color: $bg-color;
                text-align: center;
            }

            .forms {
                display: flex;
                flex-direction: column;

                div {
                    p {
                        font-size: 1rem;
                        margin-bottom: 5px;
                        margin-left: 5px;
                    }
                }

                .btn {
                    width: 100%;
                    font-weight: 600;
                }
            }

            .devider {
                color: $bg-color;
            }

            .googleBtn {
                font-weight: 600;
            }
        }

        .background {
            background-image: url("../../../../../public/bg/registration.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }
    }
}

@media (max-width: 450px) {
    .main {
        display: grid;
        grid-template-columns: 100% 0;
        height: 100vh;

        .form {
            background-color: white;
            padding: 2rem 12px;
            display: flex;
            gap: 30px;
            flex-direction: column;
            align-items: normal;
            overflow: auto;

            .logo {
                display: flex;
                align-items: center;

                p {
                    font-size: 1.6rem;
                }
            }

            .title {
                font-size: 1.6rem;
                font-weight: 600;
                color: $bg-color;
                text-align: center;
            }

            .forms {
                display: flex;
                flex-direction: column;

                div {
                    p {
                        font-size: 1rem;
                        margin-bottom: 5px;
                        margin-left: 5px;
                    }
                }

                .btn {
                    width: 100%;
                    font-weight: 600;
                }
            }

            .haveAccount {
                text-align: center;
                margin-top: -25px;
                font-weight: 300;

                a {
                    color: $bg-color;
                    font-weight: 400;
                }
            }

            .devider {
                color: $bg-color;
            }

            .googleBtn {
                font-weight: 600;
            }
        }

        .background {
            background-image: url("../../../../../public/bg/registration.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            overflow: hidden;
        }
    }
}